/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.block {

    max-width: 600px; /* Ограничиваем ширину блока */
}

.list {
    overflow-y: auto; /* Добавляем вертикальную прокрутку */
    max-height: 200px; /* Ограничиваем высоту блока */
}

.elem {
    margin-bottom: 20px;
    
}

.elem img {
    width: 100%;
    height: auto;
}
