.block {
    font-family: Arial; /* 1. Montserrat у меня не отображается почему-то,
    возможно я где-то ошибся с шрифтом */

    margin: 15px;  /* Основной отступ (отступ всего от краев страницы) 
    Возможно стоит изменить */

    max-width: 400px; /* Это нужно чтоб в браузере отображалось похоже как в тг,
    в телеграмме все равно максимальная ширина меньше (она сама уменьшается 
    (имеет свои границы)), так что эту строку можно убрать*/
}
