.list {
    overflow-y: auto;
     /* Максимальная высота списка адресов заведений, 
    я считаю, если захочешь изменить высоту страницы то меняй только ее */

    position: relative;
    
    /* margin-bottom: 20px; /* 2. Отвечает за отступ между адресом и следующей фоткой 
    заведения, ни на что не влияет, так как я использую h4 для адресов под каждой
    фоткой, но если все теги <h4> заменить на <br>, а "закрытие" тегов (/h4) 
    убрать, тот этот margin стоит раскомментить */
}

.img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.radio {
    position: absolute;
    top: 10px; /* отступы чекбоксов от краев картинки в пикселях это говно-код? */
    right: 10px;
}



